html
  head
    title= title
    script(src='/socket.io/socket.io.js')
    script.
        String.prototype.replaceAll = function(search, replace)
        {
            //if replace is not sent, return original string otherwise it will
            //replace search string with 'undefined'.
            if (replace === undefined) {
                return this.toString();
            }

            return this.replace(new RegExp('[' + search + ']', 'g'), replace);
        };

        var socket = io();

        socket.on('checkingFeed', function (msg) {
            var output = document.getElementsByTagName('h2')[0];
            output.innerHTML = msg.replaceAll('"', '').replaceAll('\\\\', '');
        });

        socket.on('message', function (msg) {
            var output = document.getElementsByTagName('h3')[0];
            output.innerHTML = msg.replaceAll('"', '').replaceAll('\\\\', '') + '<br />' +  output.innerHTML;
        });

        socket.on('foundLink', function (msg) {
            var output = document.getElementsByTagName('h3')[0];
            output.innerHTML = output.innerHTML + '<br />Found post with sign up link! <br /><br />' 
                + msg.replaceAll('"', '').replaceAll('\\\\', '');
        });

        socket.on('redirect', function (msg) {
            var output = document.getElementsByTagName('h3')[0];
            if (msg.replaceAll('"', '')) {
                output.innerHTML = output.innerHTML
                    + '<br /><br /> Opening a new tab...';
                window.open(msg.replaceAll('"', ''));
            } else {
                output.innerHTML = output.innerHTML
                    + '<br /><br /> Could not open a new tab :(';
            }
        });

  body
    h1= header
    h2
    h3